{% extends 'video/base.html' %}

{% block title %}
    Video
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ video.title }}</h1>

        <div class="videowrapper">
            <iframe width="700" height="394" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allowfullscreen></iframe>
        </div>

        <h2>Komentár</h2>

        <div class="row comment-section">
            {% for comment in comments %}
                <form action="{% url 'video:radio_form_view' comment.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <div class="row comment scorable">
                            <div class="col-md-11 comment-author">
                                <p>
                                    <strong>
                                        {{ comment.author.name }}
                                    </strong>
                                </p>
                                {{ comment.text }}
                            </div>
                            <div id="comment_reaction_section" class="col-md-1 scorable-reactions">
                                <fieldset id="comment_{{ comment.pk }}"></fieldset>
                            </div>
                        </div>

                        <div class="replies">
                            {% for reply in comment.reply_set.all %}
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-11">
                                        <div class="row reply scorable">
                                            <div class="col-md-11 comment-author">
                                                <p>
                                                    <strong>
                                                        {{ reply.author.name }}
                                                    </strong>
                                                </p>
                                                {{ reply.text }}
                                            </div>
                                            <div id="reply_reaction_section_{{ forloop.counter }}" class="col-md-1 scorable-reactions">
                                                <fieldset id="reply_{{ reply.pk }}"></fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% if user.is_authenticated %}
                        <button type="submit" name="submit-and-quit" class="btn btn-primary btn-lg pull-right">Odoslať a vrátiť sa na zoznam videí</button>
                        <button type="submit" name="submit-and-continue" class="btn btn-primary btn-lg pull-right">Odoslať a pokračovať na ďalší komentár</button>
                    {% endif %}

                </form>
            {% endfor %}
        </div>

    </div>

    <div class="help-button">
        <button class="btn btn-info btn-lg btn-circle" data-toggle="modal" data-target="#help_modal"><strong>?</strong></button>
    </div>

    <div id="help_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Pokyny</h2>
                </div>
                <div class="modal-body">
                    <p>Aplikácia slúži na značkovanie komentárov youtube videí. Ku každému videu je k dispozícii
                        niekoľko komentárov spolu s odpoveďami na tieto komentáre. Cieľom je identifikovať haterské
                        príspevky.</p>
                    <p>Hodnotiť komentáre môžete aj bez pozretia videa, v prípade neistoty však môže výrazne pomôcť
                        video si pozrieť.</p>
                    <p>Ohodnoťte komentár a všetky jeho odpovede, potom sa rozhodnite či chcete ohodnotiť
                        ďalší komentár k tomu istému videu, alebo prejsť na iné video.</p>
                    <hr class="style">
                    <h3>Čo je to haterský príspevok</h3>
                    <p>Haterský príspevok obsahuje verbálny útok na autora videa, subjekt videa, autora komentára alebo
                        im blízku osobu. Na rozdiel od kritiky musí byť subjektívne negatívne citovo zafarbený.</p>
                    <p>Príspevok, s ktorým síce vnútorne nesúhlasíte, no nespĺňa predchádzajúce kritériá, neoznačujte
                        za haterský.</p>
                    <h4><strong>Príklady</strong></h4>
                    <p><strong>Haterský príspevok</strong></p>
                    <div class="bg-red">
                        <p>You guys are corrupt and satanic, if you were not, you would see the corrupt ways
                            of the Clintons, Trump is going to win, you guys are idiots!!! You'll rot in hell along
                            with the Clintons and the Obamas.</p>
                    </div>
                    <br>
                    <p><strong>Korektný príspevok</strong></p>
                    <div class="bg-green">
                        <p>I disagree with your views. I don't trust Clinton and I think Trump is the best candidate
                            ever.</p>
                    </div>
                    <hr class="style">
                    <h3>Hodnotenie komentára/odpovede</h3>
                    <ul>
                        <li><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> - príspevok je v
                            poriadku</li>
                        <li><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> - nedokážem
                            sa rozhodnúť (pokúste sa používať minimálne)</li>
                        <li><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> - haterský
                            príspevok</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="checkbox pull-left">
                        <label><input id="modal_checkbox" type="checkbox" value="">Zobrazovať pri každom novom videu</label>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvoriť</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% if user.is_authenticated %}
        <script>
            {% for field in form %}
                var content = '<div class="radio choice-1">';
                content += '{{ field.0 }}';
                content += '</div>';
                content += '<div class="radio choice-2">';
                content += '{{ field.1 }}';
                content += '</div>';
                content += '<div class="radio choice-3">';
                content += '{{ field.2 }}';
                content += '</div>';

                {% if forloop.counter0 == 0 %}
                    $('#comment_reaction_section').find('fieldset').html(content);
                {% else %}
                    $('#reply_reaction_section_' + {{ forloop.counter0 }}).find('fieldset').html(content);
                {% endif %}
            {% endfor %}

            $('.choice-1').find('label').append('<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>');
            $('.choice-2').find('label').append('<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>');
            $('.choice-3').find('label').append('<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>');

            var show = getCookie('show_modal');

            if (show == "") {
                document.cookie = "show_modal=true; path=/";
            }

            if (getCookie('show_modal') === 'true') {
                $('#modal_checkbox').prop('checked', true);
                {% if show_modal %}
                $('#help_modal').modal('toggle');
                {% endif %}
            }

            $('#modal_checkbox').change(function() {
                if($(this).is(":checked")) {
                    document.cookie = "show_modal=true; path=/";
                } else {
                    document.cookie = "show_modal=false; path=/";
                }
            });
        </script>
    {% endif %}
{% endblock %}
