{% extends 'video/base.html' %}

{% block body %}
    <div class="container">
        {% for video in all_videos %}
            <div class="row my-row">
                <div class="col-sm-2">
                    <img class="thumb" src="https://i.ytimg.com/vi/{{ video.video_id }}/hqdefault.jpg"/>
                </div>
                <div class="col-sm-10">
                    <a href="{% url 'video:detail' video.id %}">
                        <h3>{{ video.title }}</h3>
                    </a>
                    <p>Link: <a href="https://www.youtube.com/watch?v={{ video.video_id }}" target="_blank">https://www.youtube.com/watch?v={{ video.video_id }}</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}