{% extends 'video/base.html' %}

{% block title %}
    LeaderBoard
{% endblock %}

{% block active_list %}
    <ul class="nav navbar-nav">
        <li class="">
            <a href="{%  url 'video:index' %}">
                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>&nbsp; Video
            </a>
        </li>
        <li class="active">
            <a href="{%  url 'video:leaderboard' %}">
                <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>&nbsp; LeaderBoard
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div id="leaderboard" class="container">
        <div class="alert alert-info">
            <div class="row">
                <div class="col-md-1">
                    <strong>Info:</strong>
                </div>
                <div class="col-md-11">
                    Používatelia s najvyšším skóre získajú sladkú (horkú) odmenu. <br>
                    Skóre = (2 * označkované komentáre) + označkované odpovede + (5 * skompletizované videá)
                </div>
            </div>
        </div>

        <h1>LeaderBoard</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Meno</th>
                    <th>Skóre</th>
                </tr>
            </thead>
            <tbody>
                {% for worker in workers %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ worker }}</td>
                        <td>{{ worker.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}