{% extends 'video/base.html' %}

{% block active_list %}
    <ul class="nav navbar-nav">
        <li class="">
            <a href="{%  url 'video:index' %}">
                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>&nbsp; Videos
            </a>
        </li>
        <li class="active">
            <a href="{%  url 'video:leaderboard' %}">
                <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>&nbsp; LeaderBoard
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>LeaderBoard</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for worker in workers %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ worker }}</td>
                        <td>{{ worker.comments.all }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}