{% extends 'video/base.html' %}

{% block title %}
    Profil | {{ user.username }}
{% endblock %}

{% block active_list %}
    <ul class="nav navbar-nav">
        <li class="">
            <a href="{%  url 'video:index' %}">
                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>&nbsp; Video
            </a>
        </li>
        <li class="">
            <a href="{%  url 'video:leaderboard' %}">
                <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>&nbsp; LeaderBoard
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div id="profile_info" class="container">
        <h1>{{ user.username }}</h1>
        <br>
        <p><strong>Skóre: </strong>{{ user.worker.score }}</p>
        <p><strong>Označkované komentáre: </strong>{{ user.worker.comments.count }}</p>
        <p><strong>Označkované odpovede: </strong>{{ view.replies_count }}</p>
        <p><strong>Skompletizované videá: </strong>{{ user.worker.videos.count }}</p>
    </div>
{% endblock %}