{% extends 'video/base.html' %}

{% block active_list %}
    <ul class="nav navbar-nav">
        <li class="">
            <a href="{%  url 'video:index' %}">
                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>&nbsp; Videos
            </a>
        </li>
        <li class="">
            <a href="{%  url 'video:leaderboard' %}">
                <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>&nbsp; LeaderBoard
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ user.username }}</h1>
        <p><strong>Score: </strong>{{ user.worker.score }}</p>
        <p><strong>Comments handled: </strong>{{ user.worker.comments.count }}</p>
        <p><strong>Videos finished: </strong>{{ user.worker.videos.count }}</p>
    </div>
{% endblock %}